.form-control:focus {
    z-index: 2; 
    position: relative;
} 

.dialogs-card {
    width: 500px;
}

@media (max-width: 600px) { 
    .dialogs-card {
        width: 100%;
    }
}

.dialogs-list-group {
    max-height: 500px;
    overflow: auto;
    border-radius: 0;
}

@media (max-height: 568px) {
    .dialogs-list-group {
        max-height: 450px;
    }
}

.new-msg-circle {
    color: var(--bs-danger)
}

.msgs-list-group {
    height: 454px;
    overflow: auto;
    border-radius: 0;

    flex-direction: column-reverse;
}

.msg-received {
    background-color: rgba(13, 110, 253, 0.2) ;
    background-image: var(--bs-gradient);
}

@media (max-height: 568px) {
    .msgs-list-group {
        max-height: 404px;
    }
}

@media (max-width: 500px) {
    div.chat-input {
        width: 70%;
    }

    div.chat-sendbtn {
        width: 30%;
    }
}

.chat-input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.chat-sendbtn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}


.new-password {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.confirm-new-password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}