{% extends "base.html" %}

{% block title %}Dialogs{% endblock %}

{% block content %}
<div class="card shadow-lg bg-light">
    <h5 class="card-header text-center">Welcome!</h5>
    <div class="card-body">
        <form class="mb-0" action="./signup">
            <div>
                <input type="text" class="form-control" id="exampleInputNickname1" placeholder="Input nickname" style="border-bottom-right-radius: 0rem;
                border-bottom-left-radius: 0rem; border-bottom-width: 0px;">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control rounded-bottom" id="exampleInputPassword1" placeholder="Input password" style="border-top-right-radius: 0rem;
                border-top-left-radius: 0rem;">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary w-100"><b>SIGN</b><br>in or up</button>
            </form>
    </div>
    <div class="card-footer text-center text-muted py-1">Micro Messenger</div>
</div>
{% endblock %}