{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="card shadow-lg bg-light">
    <h5 class="card-header text-center">Welcome!</h5>
    <div class="card-body">
        <form class="mb-0" action="" method="POST">
            {{ form.hidden_tag() }}
            <div>
                {{ form.nickname(class="form-control login-nickname", placeholder="Input nickname") }}
            </div>
            <div class="mb-3">
                {{ form.password(class="form-control login-password", placeholder="Input password") }}
            </div>
            <div class="mb-3 form-check">
                {{ form.rememberme(class="form-check-input", id="remembermeCheck") }}
                {{ form.rememberme.label(class="form-check-label", for="remembermeCheck") }}
            </div>
            <button type="submit" class="btn btn-primary w-100"><b>SIGN</b><br>in or up</button>
        </form>
    </div>
    <div class="card-footer text-center text-muted py-1">Micro Messenger</div>
</div>
{% endblock %}